<!-- login.handlebars -->

<!DOCTYPE html>
<html>
  <head>
    <title>Tech Blog - Login</title>
  </head>
  <body>
    <header>
      <!-- Implement the header section -->
      <h1>Tech Blog - Login</h1>
      <nav>
        <ul>
          <li><a id="home"href="/">Home</a></li>
          <li><a id="Sign-up" href="/signup">Sign Up</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- Implement the login form -->
      <form action="/signin" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Log In</button>
      </form>
    </main>
    <footer>
      <!-- Implement the footer section -->
      <p>&copy; 2023 Tech Blog. All rights reserved. Created by Kayla Nichols</p>
    </footer>
  </body>
</html>
