<!-- post.handlebars -->

<!DOCTYPE html>
<html>
  <head>
    <title>Tech Blog - Post</title>
  </head>
  <body>
    <header>
      <!-- Implement the header section -->
      <h1>Tech Blog - Post</h1>
      <nav>
        <ul>
          <li><a id="Home"href="/">Home</a></li>
          <li><a id="Sign-Up" href="/signup">Sign Up</a></li>
          {{#if isAuthenticated}}
            <li><a id="Dashboard"href="/dashboard">Dashboard</a></li>
            <li><a id="Logout"href="/logout">Logout</a></li>
          {{else}}
            <li><a id="Login"href="/login">Login</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <main>
      <!-- Implement the section to display a blog post -->
      <div class="post">
        <h2>{{post.title}}</
